.active:hover 
{
	background-color: #555;
}
.smallCate 
{
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}
.active:after 
{
	content: "\2212";
}